@model Hop

@{
    ViewBag.Title = $"{Model.Name} - Hops";
}

@section Scripts {
    <script src="~/lib/mark.js/jquery.mark.min.js"></script>
}

<div class="jumbotron bg-success text-white">
    <span style="cursor: pointer;" class="hop-inv fal fa-star float-right btn btn-default d-print-none text-warning" aria-hidden="true" aria-label="star" data-hop-id="@Model.Id" onclick="save(this);"></span>

    <h1>@Model.Name</h1>
    <p>@Model.Trade</p>
</div>

<div class="card">
    <div class="card-header">
        Information
    </div>
    <div class="card-body">
        <p>@Model.Info</p>
        @if (Model.Aliases?.Any() == true)
        {
            <p>Also known as: @string.Join(", ", Model.Aliases)</p>
        }
        <p>
            <strong>Pedigree:</strong> @Model.Pedigree<br />
            @if (!string.IsNullOrEmpty(Model.Aroma))
            {
                <strong>Aroma:</strong> @Model.Aroma<br />
            }

            @if (Model.Aromas?.Any() == true)
            {
                <strong>Aroma profile:</strong> @Html.Raw(string.Join(", ", Model.Aromas.Select(a => $"<a href=\"/Search/Aroma/{(int)a.Profile}\">{((AromaProfileEnum)a.Profile).Wordify()}</a>")))<br />
            }
            @if (!string.IsNullOrEmpty(Model.Styles))
            {
                <strong>Typical beer styles:</strong> @Model.Styles
            }
        </p>
    </div>
</div>

<br />

<div class="card">
    <div class="card-header">
        Brewing values
    </div>
    <div class="card-body p-0">
        <table class="table table-striped">
            <tr>
                <td style="padding-left:15px;">Brewing Usage</td>
                <td>@Model.BrewingUsageString()</td>
            </tr>
            <tr>
                <td style="padding-left:15px;">
                    Alpha Acid <span class="fas fa-info-circle"
                                     data-toggle="tooltip"
                                     title="Alpha acids are a major component of the soft resins. When isomerized, these materials provide the main bitter compaunds associated with beer." />
                </td>
                <td>@Model.AlphaAcid()%</td>
            </tr>
            <tr>
                <td style="padding-left:15px;">
                    Beta Acid <span class="fas fa-info-circle"
                                    data-toggle="tooltip"
                                    title="Beta acids, another soft resin component, are not bitter in their natural, or isomeric, form. Some of the oxidation products do provide bitterness." />
                </td>
                <td>@Model.BetaAcid()%</td>
            </tr>
            <tr>
                <td style="padding-left:15px;">
                    Co-humulone <span class="fas fa-info-circle"
                                      data-toggle="tooltip"
                                      title="It is widely held that higher levels of co-humulone produce a harsh, unpleasant bitterness and have a negative impact on head retention." />
                </td>
                <td>@Model.CoHumulone()%</td>
            </tr>
            <tr>
                <td style="padding-left:15px;">
                    Total Oil <span class="fas fa-info-circle"
                                    data-toggle="tooltip"
                                    title="The quantity and composition of the essential oils are responsible for the amount and quality of hop flavor and aroma in beer." />
                </td>
                <td>@Model.TotalOil() mL/100g</td>
            </tr>
        </table>
    </div>
</div>

<br />

@if (Model.Substitutions?.Any() == true)
{
    <div class="card">
        <div class="card-header">
            Possible substitutions
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var substitute in Model.Substitutions)
            {
                <a href="@Url.Action("DetailBySlug", new { Slug = substitute.Hop.Slug() })" class="list-group-item">
                    @substitute.Hop.Name
                    <span class="hop-inv pull-right fal fa-star d-print-none" aria-hidden="true" aria-label="star" data-hop-id="@substitute.Hop.Id"></span>
                </a>
            }
        </ul>
    </div>
}

<br/>

<div class="card d-print-none">
    <div class="card-body">
        <a href="mailto:hops@curleezme.nl?subject=Hops - Suggested edit - @Model.Name">Suggest an edit</a>
    </div>
</div>

<br />

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        loadFromInventory();
        $(".container").mark(window.location.hash.slice(1));
    });
</script>