@using Hops.Models;
@model DetailModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = $"{Model.Hop.Name} - Hops";
}

<div class="jumbotron">
    <h1>@Model.Hop.Name</h1>
    <p>@Model.Hop.Trade</p>
    <p>Aroma profile: @Model.Hop.Aroma</p>
    <p>Typical beer styles: @Model.Hop.Styles</p>

</div>

<div class="panel panel-default">
    <div class="panel-heading">Information</div>
    <div class="panel-body">
        <p>@Model.Hop.Info</p>
        <p>Also known as: @string.Join(", ", Model.Aliases)</p>
        <p>Pedigree: @Model.Hop.Pedigree</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Brewing values</div>

    <div class="panel-body">
        <p>Brewing Usage: @Model.Hop.BrewingUsageString()</p>
    </div>

    <table class="table table-striped">
        <tr><td>Alpha Acid</td><td>@Model.Hop.AlphaMin - @Model.Hop.AlphaMax%</td></tr>
        <tr><td>Beta Acid</td><td>@Model.Hop.BetaMin - @Model.Hop.BetaMax%</td></tr>
        <tr><td>Co-humulone</td><td>@Model.Hop.CoHumuloneMin - @Model.Hop.CoHumuloneMax%</td></tr>
        <tr><td>Total Oil</td><td>@Model.Hop.TotalOilMin - @Model.Hop.TotalOilMax mL/100g</td></tr>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Possible substitutions</div>
    <div class="panel-body list-group">
        @foreach (var substitute in Model.Substitutions)
        {
            <a href="@Url.Action("Detail", new { Id = substitute.Id })" class="list-group-item">@substitute.Name</a>
        }
    </div>
</div>