@using Hops.Models;
@model ListModel<HopModel>

@{
    ViewBag.Title = "Hops";
}

<div class="panel panel-default">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Usage</th>
                <th class="hidden-print">Possible substitutions</th>
                @if(Model.Pagination.SearchTerm.Equals("Inventory"))
                {
                    <th class="col-xs-2">Amount</th>
                }
                <th class="hidden-print"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hopModel in Model.List)
            {
                <tr>
                    <td>
                        <a href="/hop/@hopModel.Hop.Slug()@(string.IsNullOrEmpty(Model.Pagination.HighLight) ? string.Empty : "#" + Model.Pagination.HighLight)">@hopModel.Hop.Name</a>
                        <p class="visible-print-inline">
                            <br />@hopModel.Hop.Trade<br /><br />
                            <strong>Aroma:</strong> @hopModel.Hop.Aroma<br />
                            @if (hopModel.Aromas.Any())
                            {
                                <strong>Aroma profile:</strong> @Html.Raw(string.Join(", ", hopModel.Aromas.Select(a => $"<a href=\"/Search/Aroma/{(int)a}\">{a.Wordify()}</a>")))<br />
                            }
                            <strong>Typical beer styles:</strong> @hopModel.Hop.Styles
                        </p>
                    </td>
                    <td>@hopModel.Hop.BrewingUsageString()</td>
                    <td class="hidden-print">@Html.Raw(string.Join(", ", hopModel.Substitutions.Select(s => $"<a href=\"/hop/{s.Slug()}\">{s.Name}</a>")))</td>
                    @if (Model.Pagination.SearchTerm.Equals("Inventory"))
                    {
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="number" step="1" min="0" class="form-control hop-inv-amount" data-hop-id="@hopModel.Hop.Id" onchange="saveAmountInventory(this);">
                                <span class="input-group-addon">g</span>
                            </div>
                        </td>
                    }
                    <td class="hidden-print"><span style="cursor: pointer;" class="hop-inv pull-right glyphicon glyphicon-star-empty" aria-hidden="true" aria-label="star" data-hop-id="@hopModel.Hop.Id" onclick="save(this);"></span></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.Partial("Pagination", Model.Pagination)

<script>
    $(function () {
        loadFromInventory();
    });
</script>