@model Yeast

@{
    ViewBag.Title = $"{Model.Name} - Yeasts";
}

<div class="p-5 mb-4 bg-info rounded-3 text-white">
    <div class="container-fluid py-1">
        <span style="cursor: pointer;" class="yeast-inv fal fa-star float-end btn btn-default d-print-none text-warning" aria-hidden="true" aria-label="star" data-yeast-id="@Model.Id" onclick="save(this);"></span>

        <h1 class="display-5 fw-bold">@Model.Name</h1>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Information
    </div>
    <div class="card-body">
        <p>@Model.Description</p>
        <p>
            <strong>Lab:</strong> @(((YeastLabEnum)Model.Lab).Wordify())<br />
        </p>
    </div>
</div>

<br/>

<div class="card">
    <div class="card-header">
        Brewing values
    </div>
    <div class="card-body p-0">
        <table class="table table-striped">
            <tr>
                <td style="padding-left:15px;">
                    Temperature <span class="fas fa-info-circle"
                                      data-toggle="tooltip"
                                      title="For best results ferment at these temperatures" />
                </td>
                <td>@Html.Raw(Model.Temp())</td>
            </tr>
            <tr>
                <td style="padding-left:15px;">
                    Attenuation <span class="fas fa-info-circle"
                                      data-toggle="tooltip"
                                      title="The percentage that measures the conversion of sugars into alcohol and carbon dioxide by the fermentation process" />
                </td>
                <td>@Model.Attenuation()</td>
            </tr>
        </table>
    </div>
</div>

<br/>

<div class="card d-print-none">
    <div class="card-body">
        <a href="mailto:hops@curleezme.nl?subject=Hops - Suggested edit - @Model.Name">Suggest an edit</a>
    </div>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    loadFromInventory();
});
</script>