@using Hops.Models;
@model ListModel<Yeast>

@{
    ViewBag.Title = "Yeasts";
}

<div class="panel panel-default">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Lab</th>
                <th>Temperature</th>
                @if (Model.Pagination.SearchTerm.Equals("Inventory"))
                {
                    <th class="col-xs-2">Amount</th>
                }
                <th class="hidden-print"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var yeast in Model.List)
            {
                <tr>
                    <td><a href="/yeast/@yeast.Id">@yeast.Name</a></td>
                    <td>@(((YeastLabEnum)yeast.Lab).Wordify())</td>
                    <td>@Html.Raw(yeast.Temp())</td>
                    @if (Model.Pagination.SearchTerm.Equals("Inventory"))
                    {
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="number" step="1" min="0" class="form-control yeast-inv-amount" data-yeast-id="@yeast.Id" onchange="saveAmountInventory(this);">
                                <span class="input-group-addon">g</span>
                            </div>
                        </td>
                    }
                    <td class="hidden-print"><span style="cursor: pointer;" class="yeast-inv pull-right glyphicon glyphicon-star-empty" aria-hidden="true" aria-label="star" data-yeast-id="@yeast.Id" onclick="save(this);"></span></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.Partial("Pagination", Model.Pagination)

<script>
    $(function () {
        loadFromInventory();
    });
</script>