@using Hops.Models.Malts

@model Malt

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = $"{Model.Name} - Malts";
}

<div class="jumbotron bg-warning text-white">
    <span style="cursor: pointer;" class="malt-inv fal fa-star float-right btn btn-default d-print-none text-white" aria-hidden="true" aria-label="star" data-malt-id="@Model.Id" onclick="save(this);"></span>

    <h1>@Model.Name</h1>
</div>

<div class="card">
    <div class="card-header">
        Information
    </div>
    <div class="card-body">
        <p>@Model.Description</p>
        <p><strong>Maltster:</strong> @(((MaltsterEnum)Model.Maltster).Wordify())<br /></p>
    </div>
</div>

<br />

<div class="card">
    <div class="card-header">
        Brewing values
    </div>
    <div class="card-body p-0">
        <table class="table table-striped">
            <tr>
                <td style="padding-left:15px;">
                    Colour <span class="fas fa-info-circle"
                                 data-toggle="tooltip"
                                 title="'European Brewing Convention'. In practice the EBC color is approximately 1.97 times the SRM color." />
                </td>
                <td>@Model.EBC() EBC</td>
            </tr>
            @if (Model.Ratio != null)
{
    <tr>
                    <td style="padding-left:15px;">
                        Ratio <span class="fas fa-info-circle"
                                    data-toggle="tooltip"
                                    title="The max percentage this malt can be used up to of the grain bill" />
                    </td>
                    <td>@Model.Ratio%</td>
                </tr>
}
            @if (Model.Yield != null)
{
    <tr>
                    <td style="padding-left:15px;">
                        Yield <span class="fas fa-info-circle"
                                    data-toggle="tooltip"
                                    title="Each grain will yield a typical amount of fermentable and non-fermentable sugars that is referred to as its percent extraction or maximum yield" />
                    </td>
                    <td>@((int)Model.Yield)%</td>
                </tr>
}
        </table>
    </div>
</div>

<br />

<div class="card d-print-none">
    <div class="card-body">
        <a href="mailto:hops@curleezme.nl?subject=Hops - Suggested edit - @Model.Name">Suggest an edit</a>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        loadFromInventory();
    });
</script>