@using Hops.Models;
@model ListModel<Malt>

@{
    ViewBag.Title = "Malts";
}

<div class="panel panel-default">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Maltster</th>
                <th>Colour</th>
                <th class="hidden-print"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var malt in Model.List)
            {
                <tr>
                    <td><a href="/Malt/@malt.Id">@malt.Name</a></td>
                    <td>@(((MaltsterEnum)malt.Maltster).Wordify())</td>
                    <td>@malt.EBC() EBC</td>
                    <td class="hidden-print"><span style="cursor: pointer;" class="malt-inv glyphicon glyphicon-star-empty" aria-hidden="true" aria-label="star" data-malt-id="@malt.Id" onclick="save(this);"></span></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.Partial("Pagination", Model.Pagination)

<script>
    $(function () {
        loadFromInventory();
    });
</script>