@using Hops.Models;
@model ListModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Hops";
}

<div class="panel panel-default">
    <table class="table sortable-theme-bootstrap" data-sortable>
        <thead>
            <tr>
                <th>Name</th>
                <th>Brewing usage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hop in Model.List)
            {
                <tr>
                    <td><a href="@Url.Action("Detail", new { Id = hop.Id })">@hop.Name</a></td>
                    <td>@hop.BrewingUsageString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
        <nav>
            <ul class="pagination">
                @if (Model.CurrentPageIndex > 1)
                {
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }

                @for (int i = 1; i <= Model.NumberOfPages; i++)
                {
                    if (i == Model.CurrentPageIndex)
                    {
                        <li class="active"><a href="@Url.Link("Page", new { page = i })">@i</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Link("Page", new { page = i })">@i</a></li>
                    }
                }

                @if (Model.CurrentPageIndex != Model.NumberOfPages)
                {
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>